# Statement

Learn how to create a relational model and entity-relationship diagram.

Level 1
- Exercise 1
- 
Create an example relational database using a text document or by hand. Design it to contain the following tables, and establish the relationships you consider necessary between them:

- Shopping table (transactions)

- Establishments table

- Employees table

- Customer table

- Products table

- Type of products table

Define the properties of the relationships (1:1, 1:n, n:n), and create some of the variables they might contain, for example:

Establishments table

- Establishment ID (unique key)

- Name

- Location

- Area

Level 2

- Exercise 2
Use an entity-relationship diagram creation program such as http://dia-installer.de to create the diagram.

Level 3

- Exercise 3

Use the MySQL Workbench to create a relational model.

# Level 1
## - Exercise 1
- 
Create an example relational database using a text document or by hand. Design it to contain the following tables, and establish the relationships you consider necessary between them:

- Shopping table (transactions)

- Establishments table

- Employees table

- Customer table

- Products table

- Type of products table

Define the properties of the relationships (1:1, 1:n, n:n), and create some of the variables they might contain, for example:

Establishments table

- Establishment ID (unique key)

- Name

- Location

- Area

![](2022-04-01-15-27-11.png)

# Level 2

## - Exercise 2
Use an entity-relationship diagram creation program such as http://dia-installer.de to create the diagram.

(We have used https://drawsql.app/ that is very good to create sql diagrams!)

![](2022-04-04-09-40-38.png)


# Level 3

## - Exercise 3

Use the MySQL Workbench to create a relational model.

As seen on the following screenshot, we have installed MySQL Workbench.

With the previous drawSQL web app, there is an option to export the diagram created to MySQL.

The export functions creates the "drawSQL-mysql-export-2022-04-04.sql" file attached.

```sql
CREATE TABLE `ShoppingTable`(
    `id` INT UNSIGNED NOT NULL,
    `ProviderId` INT UNSIGNED NOT NULL,
    `ProductId` INT UNSIGNED NOT NULL,
    `EstablishmentId` INT UNSIGNED NOT NULL
);
ALTER TABLE
    `ShoppingTable` ADD PRIMARY KEY `shoppingtable_id_primary`(`id`);
ALTER TABLE
    `ShoppingTable` ADD INDEX `shoppingtable_providerid_index`(`ProviderId`);
ALTER TABLE
    `ShoppingTable` ADD INDEX `shoppingtable_productid_index`(`ProductId`);
ALTER TABLE
    `ShoppingTable` ADD INDEX `shoppingtable_establishmentid_index`(`EstablishmentId`);
CREATE TABLE `ProviderTable`(
    `id` INT UNSIGNED NOT NULL,
    `Name` TEXT NOT NULL,
    `Address` TEXT NOT NULL
);
ALTER TABLE
    `ProviderTable` ADD PRIMARY KEY `providertable_id_primary`(`id`);
CREATE TABLE `ProductsTable`(
    `id` INT UNSIGNED NOT NULL,
    `Name` TEXT NOT NULL,
    `TypeOfProductId` INT UNSIGNED NOT NULL,
    `ProviderId` INT UNSIGNED NOT NULL
);
ALTER TABLE
    `ProductsTable` ADD PRIMARY KEY `productstable_id_primary`(`id`);
ALTER TABLE
    `ProductsTable` ADD INDEX `productstable_typeofproductid_index`(`TypeOfProductId`);
ALTER TABLE
    `ProductsTable` ADD INDEX `productstable_providerid_index`(`ProviderId`);
CREATE TABLE `TypeOfProducts`(
    `id` INT UNSIGNED NOT NULL,
    `Name` TEXT NOT NULL,
    `Description` TEXT NOT NULL
);
ALTER TABLE
    `TypeOfProducts` ADD PRIMARY KEY `typeofproducts_id_primary`(`id`);
CREATE TABLE `EstablismentTable`(
    `id` INT UNSIGNED NOT NULL,
    `Name` TEXT NOT NULL,
    `Location` TEXT NOT NULL,
    `Area` TEXT NOT NULL,
    `EmployeesId` INT UNSIGNED NOT NULL,
    `CostumersId` INT UNSIGNED NOT NULL
);
ALTER TABLE
    `EstablismentTable` ADD PRIMARY KEY `establismenttable_id_primary`(`id`);
ALTER TABLE
    `EstablismentTable` ADD INDEX `establismenttable_employeesid_index`(`EmployeesId`);
ALTER TABLE
    `EstablismentTable` ADD INDEX `establismenttable_costumersid_index`(`CostumersId`);
CREATE TABLE `EmployeesTable`(
    `id` INT UNSIGNED NOT NULL,
    `Name` TEXT NOT NULL,
    `Surnames` TEXT NOT NULL,
    `StartDate` DATETIME NOT NULL,
    `EstablismentId` INT NOT NULL,
    `Address` TEXT NOT NULL,
    `PhoneNumber` INT NOT NULL,
    `DNI` INT NOT NULL,
    `DNI_letter` TEXT NOT NULL,
    `DateOfBirth` DATE NOT NULL
);
ALTER TABLE
    `EmployeesTable` ADD PRIMARY KEY `employeestable_id_primary`(`id`);
ALTER TABLE
    `EmployeesTable` ADD INDEX `employeestable_establismentid_index`(`EstablismentId`);
CREATE TABLE `CustomersTable`(
    `id` INT UNSIGNED NOT NULL,
    `Name` TEXT NOT NULL,
    `Surnames` TEXT NOT NULL,
    `NIF` TEXT NOT NULL,
    `Address` TEXT NOT NULL
);
ALTER TABLE
    `CustomersTable` ADD PRIMARY KEY `customerstable_id_primary`(`id`);
ALTER TABLE
    `ShoppingTable` ADD CONSTRAINT `shoppingtable_productid_foreign` FOREIGN KEY(`ProductId`) REFERENCES `ProductsTable`(`id`);
ALTER TABLE
    `ProductsTable` ADD CONSTRAINT `productstable_typeofproductid_foreign` FOREIGN KEY(`TypeOfProductId`) REFERENCES `TypeOfProducts`(`id`);
ALTER TABLE
    `ProductsTable` ADD CONSTRAINT `productstable_providerid_foreign` FOREIGN KEY(`ProviderId`) REFERENCES `ProviderTable`(`id`);
ALTER TABLE
    `ShoppingTable` ADD CONSTRAINT `shoppingtable_providerid_foreign` FOREIGN KEY(`ProviderId`) REFERENCES `ProviderTable`(`id`);
ALTER TABLE
    `ShoppingTable` ADD CONSTRAINT `shoppingtable_establishmentid_foreign` FOREIGN KEY(`EstablishmentId`) REFERENCES `EstablismentTable`(`id`);
ALTER TABLE
    `EstablismentTable` ADD CONSTRAINT `establismenttable_employeesid_foreign` FOREIGN KEY(`EmployeesId`) REFERENCES `EmployeesTable`(`id`);
ALTER TABLE
    `EstablismentTable` ADD CONSTRAINT `establismenttable_costumersid_foreign` FOREIGN KEY(`CostumersId`) REFERENCES `CustomersTable`(`id`);
```

So, we import this code in MySQL Workbench in a new Database Schema call as *s13_t01*, and the result is the following:
![](2022-04-04-09-55-10.png)
And all the tables with all the columns and the relationships are created:  
![](2022-04-04-09-57-12.png)

We also could do reverse engineering with the sql script and create the relational model in MySQL.  
See the diagram below:

![](2022-04-04-12-00-53.png)